<!-- views/duty.ejs -->
<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
	<title>ResConnect Duty</title>
    <p align="center">
    <img src="./public/images/ResConnectBanner.png" width="50%" height="50%" alt="ResConnect Logo"/></p>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script> <!-- load fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <style>
        body        { padding-top:20px;}
    </style>
</head>
<body>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>Duty and Crisis Response</h1>
            <p>Click one of the links below to access the Community Assistant Duty Log or Student Housing Incident Report form.</p>

            <a href="https://cm.maxient.com/reportingform.php?UnivofMississippi&layout_id=2" class="btn btn-default"><span class="fa fa-tasks"></span> Duty Log</a>
            <a href="https://cm.maxient.com/reportingform.php?UnivofMississippi&layout_id=7" class="btn btn-default"><span class="fa fa-clipboard-check"></span> Incident Report</a>
            <br></br><p>Need help? Call the on duty Graduate or Professional Staff at <b>(662) 832-7116</b> or <b>(662) 832-7116</b>. For relevant emergencies, call UPD at <b>(662) 915-7234</b>.</p>
        </div>
    </div>
    <p align="center">
        <a href="/profile" class="btn btn-default btn-sm"><span class="fa fa-arrow-circle-left"></span> Back</a>
        <a href="/logout" class="btn btn-default btn-sm"><span class="fa fa-sign-out-alt"></span> Logout</a>
    </p>
</body>
</html>