<!-- views/editProfile.ejs -->
<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
	<title>ResConnect Account</title>
	<link rel="shortcut icon" type="image/ico" href="/public/favicon.ico"/>
    <p align="center">
    <a href="/profile"><img src="./public/images/ResConnectBanner.png" width="50%" height="50%" alt="ResConnect Logo"/></a></p>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script> <!-- load fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <style>
        body        { padding-top:20px;}
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<a align="center" style="text-decoration: none; color: #333333"><h1><span class="fa fa-user"></span> Update Account Information</h1><br>
	<p>In case you would like to update your preferred name or change your password, use the following form.</p></a><br>

	<!-- UPDATE FORM -->
	<div class="well">
		<form action="/editProfile" method="post">
			<div class="form-group">
				<label>New Password</label>
				<input type="password" class="form-control" name="password">
			</div>
			<div class="form-group">
				<label>First Name</label>
				<input type="text" class="form-control" name="firstName" value=<%=Employee.firstName%>>
			</div>
			<div class="form-group">
				<label>Last Name</label>
				<input type="text" class="form-control" name="lastName" value=<%=Employee.lastName%>>
			</div>
	</div>

		<button type="submit" class="btn btn-warning btn-lg">Update</button>
	</form>

	<hr>

</div>

</div>
<p align="center">
        <a href="/profile" class="btn btn-default btn-sm"><span class="fa fa-arrow-circle-left"></span> Back</a>
        <a href="/logout" class="btn btn-default btn-sm"><span class="fa fa-sign-out-alt"></span> Logout</a>
    </p>

</body>
</html>
