<!-- views/leadership.ejs -->
<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
	<title>Student Leadership</title>
	<p align="center">
    <a href="/profile"><img src="./public/images/ResConnectBanner.png" width="50%" height="50%" alt="ResConnect Logo"/></a></p>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> 
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script> <!-- load fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
	<style>
		body 		{ padding-top:20px; word-wrap:break-word; }
	</style>
</head>
<body>
<div class="container">

	<h1><p align="center"><span class="fa fa-star"></span> Student Leadership</p></h1><br>
	<p align="center">Explore to learn more information about the leadership organizations within the Department of Student Housing. For additional information and inquiries, please contact the Graduate Assistant for Student Leadership at <b>housinglead@olemiss.edu</b>.</p><br>

	<div class="row">

		<!-- LOCAL INFORMATION -->
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-building"></span> Residential Housing Association (RHA)</h3>

				<p>The Residential Housing Association (RHA) is the governing body and voice of the students living in our facilities on campus. Each community has a Community Council tasked with understanding the concerns of students in their hall and also planning programs for their hall and building areas. RHA provides the resources for these Community Councils, as well as hosts their own programming on campus. RHA also participates in state-level, regional, and national associations for which they attend conferences. RHA discusses with other residence hall students at hundreds of institutions to ensure we are providing our students with the best possible experience. Visit the following links to learn more about RHA's parent organizations: NACURH and SAACURH.</p>

        		<p align="center"><a href="http://www.nacurh.org/" class="btn btn-default">NACURH <span class="fa fa-arrow-circle-right"></span></a>
        		<a href="https://www.saacurh.nacurh.org/" class="btn btn-default">SAACURH <span class="fa fa-arrow-circle-right"></span></a></p>

			</div>
		</div>
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-gem"></span> National Residence Hall Honorary (NRHH)</h3>

				<p>The National Residence Hall Honorary (NRHH) is an honor society for the top 1% of students on campus. NRHH is a sister organization to RHA, as they are both governed by NACURH. The core values of NRHH are Service and Recognition, and NRHH seeks to facilitate these values on campus. Students must apply and be selected to join NRHH, and must have at least a 2.50 GPA and live on campus. Members of NRHH must be active by participating in service and recognition opportunities. One of the staples of NRHH recognition is through Of The Months (OTMs), which are awards given monthly to recognition great work in our communities. For more information, visit the NACURH and SAACURH links under RHA, or submit an OTM and visit the NRHH Facebook page.</p>

				<p align="center"><a href="https://otms.nrhh.org" class="btn btn-default">Submit an OTM <span class="fa fa-arrow-circle-right"></span></a>
        		<a href="https://www.facebook.com/UMNRHH/" class="btn btn-default">NRHH Facebook <span class="fa fa-arrow-circle-right"></span></a></p>

			</div>
		</div>
		<div class="col-sm-6">
			<div class="well">
				<h3><span class="fa fa-users"></span> University of Mississippi Community Assistant Association (UMCAA)</h3>

				<p>The University of Mississippi Community Assistant Association (UMCAA) is the governing body and voice of the Community Assistants on campus. Each community has a number of representatives that must attend UMCAA meetings to ensure that the voice of all communities on campus and to ensure consistent communication. UMCAA is the listening ear for CA's and in some cases, will help to solve problems and offer solutions. UMCAA is also in charge of making sure that the Student Housing Resource Center is consistently stocked with the appropriate supplies for CA's to successfully complete their duties. UMCAA also implements some developmental program to create a cohesive community atmosphere among campus CA's.</p>

			</div>
		</div>

	</div>

</div>
<p align="center">
        <a href="/profile" class="btn btn-default btn-sm"><span class="fa fa-arrow-circle-left"></span> Back</a>
        <a href="/logout" class="btn btn-default btn-sm"><span class="fa fa-sign-out-alt"></span> Logout</a>
    </p>
	
</body>
</html>