<!-- views/signup.ejs -->
<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
	<title>ResConnect Signup</title>
    <p align="center">
    <a href="/"><img src="./public/images/ResConnectBanner.png" width="50%" height="50%" alt="ResConnect Logo"/></a></p>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script> <!-- load fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <style>
        body        { padding-top:20px;}
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1><span class="fa fa-user-plus"></span> Register</h1><br>

	<!-- show any messages that come back with authentication -->
	<% if (message.length > 0) { %>
		<div class="alert alert-danger"><%= message %></div>
	<% } %>

	<!-- LOGIN FORM -->
	<form action="/signup" method="post">
		<div class="form-group">
			<label>Emp ID</label>
			<input type="number" class="form-control" name="empID">
		</div>
		<div class="form-group">
			<label>Web ID</label>
			<input type="text" class="form-control" name="webID">
		</div>
		<div class="form-group">
			<label>Password</label>
			<input type="password" class="form-control" name="password">
		</div>
		<div class="form-group">
			<label>First Name</label>
			<input type="text" class="form-control" name="firstName">
		</div>
		<div class="form-group">
			<label>Last Name</label>
			<input type="text" class="form-control" name="lastName">
		</div>
		<div class="form-group">
			<label>Birthday</label>
			<input type="date" class="form-control" name="birthday">
		</div>
		<div class="form-group">
			<label>Position Type</label><br>
			<select name="permissionsType">
				<option value="1">Student Staff</option>
				<option value="2">Professional/Graduate Staff</option>
			</select>
		</div>
		<div class="form-group">
			<label>Community</label><br>
			<select name="communityID">
				<option value="minor">Minor Hall</option>
				<option value="martin">Martin Hall</option>
			</select>
		</div>
		<div class="form-group">
			<label>Floor Level</label>
			<input type="number" class="form-control" name="floorLevel">
		</div>

		<button type="submit" class="btn btn-warning btn-lg">Register</button>
	</form>

	<hr>

	<p>Already have an account? <a href="/login">Login</a></p>
	<p>Or go <a href="/">home</a>.</p>

</div>

</div>
</body>
</html>
