<!-- views/viewProposals.ejs -->
<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<html>
<head>
	<title>Program Proposals</title>
	<link rel="shortcut icon" type="image/ico" href="/public/favicon.ico"/>
    <p align="center">
    <a href="/profile"><img src="./public/images/ResConnectBanner.png" width="50%" height="50%" alt="ResConnect Logo"/></a></p>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js" integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l" crossorigin="anonymous"></script> <!-- load fontawesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js" integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c" crossorigin="anonymous"></script>
    <style>
        body        { padding-top:20px;}
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

	<h1 align="center"><span class="fa fa-paper-plane"></span> View Program Proposals</h1><br>
	<p align="center">Click on a Program Proposal below to view the full response and delete once approved or denied. You may also upload your community's Community Learning Plan below.</p><br>

	<div class="well">
		<form action="/uploadCLP" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label>Community Learning Plan</label>
				<p>Only upload Community Learning Plans in PDF format.</p>
				<input type="file" accept=".pdf" class="form-control" name="clpFile">
			</div>
	</div>

		<button type="submit" class="btn btn-warning btn-lg">Upload</button>
	</form>
	<br>

	<% for (var i=0; i < Proposals.length; i++) { %>
		<a href="/editProposal/<%= Proposals[i].proposal_ID %>" style="text-decoration: none; color: #333333">
			<div class="well" align="center">

				<h3>Event Name: <%= Proposals[i].eventName%></h3>
				<p>Proposer(s): <%= Proposals[i].programProposer%></p>
				<p>Date and Time: <%= Proposals[i].eventDateTime%></p>
			</div>
		</a>
	<% } %>
	
	<hr>
	<p align="center">
        <a href="/profile" class="btn btn-default btn-sm"><span class="fa fa-arrow-circle-left"></span> Back</a>
        <a href="/logout" class="btn btn-default btn-sm"><span class="fa fa-sign-out-alt"></span> Logout</a>
    </p>

</div>

</div>
</body>
</html>